@model IEnumerable<Cantina.Models.Sangria>
<link href="~/Content/StyleSheet.css" rel="stylesheet" />
@{
    ViewBag.Title = "Sangria";
}
<div>
    <p class="valores container" style="font-size: 60px;">
        Sangria &nbsp;&nbsp;&nbsp;&nbsp; @Html.ActionLink("Nova sangria", "Create", null , new { @class = "btn btn-primary" } )
    </p>
    <br />
    <table class="tabela">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.data)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.valor)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.data)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.valor)
                </td>
                <td>
                    @Html.ActionLink("Editar", "Edit", new { id = item.id_sangria }, new { @class = "btn btn-info" }) |
                    @Html.ActionLink("Detalhes", "Details", new { id = item.id_sangria }, new { @class = "btn btn-success" }) |
                    @Html.ActionLink("Deletar", "Delete", new { id = item.id_sangria }, new { @class = "btn btn-danger" })
                </td>
            </tr>
        }

    </table>
</div>