@model IEnumerable<Cantina.Models.Cliente>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="tabela container">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.cpg)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.telefone)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.cpg)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.telefone)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id_cliente },new { @class="btn btn-info"}) |
            @Html.ActionLink("Details", "Details", new { id=item.id_cliente }, new { @class = "btn btn-success" }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id_cliente }, new { @class = "btn btn-danger" })
        </td>
    </tr>
}

</table>
